ultralytics==8.0.211
streamlit==1.31.1
opencv-python-headless==4.9.0.80
Flask==2.3.2
Flask-Cors==3.0.10
numpy==1.26.0  # Updated to resolve conflict with tensorflow
pandas==1.5.3
librosa==0.10.0
ffmpeg-python==0.2.0
